@page
@model Web.Endpoint.Areas.Identity.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>
<partial name="@Model.StatusMessage" model="Model.StatusMessage" />
