@page
@model ErrorModel
@{
    ViewData["Title"] = "مشکلی پیش آمده";
}

<div class="empty-box empty-box--404">
    <div class="message mb-5">
        <p class="text-muted mb-5">
         @Model.Message
            <img src="~/assets/images/theme/search.svg" alt="...">
        </p>
        <div class="form-element-row">
            <a asp-page="Index" class="btn-element btn-info-element py-3">
                <i class="fad fa-undo"></i>
                بازگشت به صفحه اصلی
            </a>
        </div>
    </div>
    <div class="pic">
        <img src="~/assets/images/theme/404.svg" alt="404 image">
    </div>
</div>